// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.ios {
    --ion-background-color: var( --ion-color-dark);
    color: var(--ion-color-primary-contrast);
  }

ion-title {
    background: var(--ion-color-dark-shade);
}

// Header
.ios .toolbar-background {
    background: transparent;
}


